

.input{
    border: 1px solid black;
}

.recieved{
    background-color: #50da43;
}
.missed{
    background-color: rgb(209, 73, 55);
}

.dialed{
    background-color: rgb(71, 191, 212);
}

.scrollable{
    overflow: auto;
}