<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <ion-input type="text" class="input" placeholder="Enter Message" [(ngModel)]="msg"></ion-input>
    <ion-input type="number" class="input" placeholder="Enter Number" [(ngModel)]="number"></ion-input>
    <ion-button (click)="sendMessage()">Send Message</ion-button>
    <ion-button (click)="capture()">Get Camera Clicked</ion-button>
    <ion-button (click)="getCaptureImage()">Get Image Captured</ion-button>
    <ion-button (click)="getCallLogs()">Get Call Logs</ion-button>
    <ion-button (click)="recordAudio()">Record Audio</ion-button>
    <ion-button (click)="readSMSList()">Read SMS</ion-button>
  <p *ngIf="hasPermission">Permission Granted</p>
  <p *ngIf="!hasPermission">No Permissions</p>
  </div>
  <ion-item>
    <ion-label position="stacked">Name</ion-label>
    <ion-input [(ngModel)]="idea.name"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label position="stacked">Notes</ion-label>
    <ion-textarea [(ngModel)]="idea.notes" rows="8"></ion-textarea>
  </ion-item>
  <ion-card  *ngFor="let contact of recordsFound">
    <ion-card-header  *ngIf="contact['name']" >
      <ion-card-title>{{contact["name"]}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content [ngClass]="{'recieved': contact['type']===1, 'missed': contact['type']===3 || contact['type']===5 , 'dialed': contact['type']===2}">
        <strong>{{contact["number"]}}</strong>
       <strong>Date:</strong> {{contact["date"]}}
       <strong>Duration:</strong> {{contact["duration"]}} sec
    </ion-card-content>
</ion-card>

<ion-list>
  <ion-item *ngFor="let message of messageList">
          <ion-avatar item-start>
              <button ion-button color="danger" round>{{message['address']}}</button>
            </ion-avatar>
        <strong>Date:</strong> {{message["date"]}}
  <p>{{message['body']}}</p>
  </ion-item>
  </ion-list>

<ion-item class="scrollable">
  <ion-icon name="walk" slot="start"></ion-icon>
  {{messages}}
</ion-item>

<ion-row>
    <ion-col>
      <ion-button (click)="captureAudio()">Capture Audio</ion-button>
    </ion-col>
    <ion-col>
      <ion-button ion-button full (click)="captureVideo()">Capture Video</ion-button>
    </ion-col>
  </ion-row>
 
  <ion-list>
    <ion-item *ngFor="let file of mediaFiles" tappable (click)="play(file)" text-wrap>
      {{ file.name }}
      <p>{{ file.size / 1000 / 1000 | number }} MB</p>
    </ion-item>
  </ion-list>
 
  <video controls autoplay #myvideo>
  </video>
</ion-content>

<ion-footer *ngIf="idea.id">
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="addIdea()">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Add Idea
    </ion-button>
  </ion-toolbar>
</ion-footer>
 
<ion-footer *ngIf="idea.id">
  <ion-row no-padding text-center>
    <ion-col size="6">
      <ion-button expand="block" fill="outline" color="danger" (click)="deleteIdea()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Delete
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" color="success" (click)="updateIdea()">
        <ion-icon name="save" slot="start"></ion-icon>
        Update
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
